@charset "UTF-8";


*{
    padding: 0px;
    margin: 0px;
}

div#corpo{
    display: flex;
    width: 500px; 
    height: 700px;
    background-color: gray;
    padding: 30px;
    margin: 20% auto;
}

div#tela{
    display: block;
    width: 400px;
    height: 50px;
    background-color: green;
    margin: auto;
}

.botao{
    display: flex;
    width: 50px;
    height: 50px;

    text-align: center;

    background-color: lightgray;
}